*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html,body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: black;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: burlywood;
    text-transform: uppercase;
}
.btn{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 8px;
    font-size: 14px;
    background: burlywood;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: 2px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}
.logo img{
    height: 100px;
    position: absolute;
    width: 100px;
    top: -5px;
    left: 5px;
}
.navbar a{
    color: #fff;
    padding: 22px;

}
.navbar a:hover{
    color: burlywood;
}
.header .navbar .active{
    right: 0;
}
.icons i{
    color: #fff;
    padding: 10px;
}
.icons i:hover{
    color: burlywood;
    cursor: pointer;
}
#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 80px;
    right: 0;
    width: 90vw;
    margin: 10px 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    color: black;
    padding: 10px;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    margin: 5px;
    color: black;
}
.header .search-form label:hover{
    color: burlywood;
}

.header .cart-items-container{
    position: absolute;
    top: 14%;
    right: -100%;
    display: none;
    height: 70%;
    width: 235px;
    background: #fff;
}
.header .cart-items-container.active{
    right: 0;
    display: block;
}
.header .cart-items-container .cart-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
}
.header .cart-items-container .cart-item .close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    cursor: pointer;
    color: black;
    font-size: 20px;
}
.header .cart-items-container .cart-item .close:hover{
    color: burlywood;
}
.header .cart-items-container .cart-item img{
    height: 50px;
}
.header .cart-items-container .cart-item .content h3{
    font-size: 15px;
    color: black;
    /* padding-bottom: 23px; */
}
.header .cart-items-container .cart-item .content .price{
    font-size: 10px;
    color: rgb(140, 112, 76);
    font-weight: 600;
    /* padding-top: 10px; */
}
.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(https://media.istockphoto.com/id/518754683/photo/cup-of-coffee.jpg?s=612x612&w=0&k=20&c=VMMxHj4Hkw-o-WPwdxF_HgqneX1dUFwSW3OQ8wV1vAk=)no-repeat;
    background-position: center;
    background-size: cover;
}
.home .content{
    max-width: 60rem;
}
.home .content h3{
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}
.home .content p{
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}

.about .row{
    display: flex;
    align-items: center;
    background: black;
    /* flex-wrap: wrap; */
}
.about .row .image{
    flex:1 1 45rem;
}
.about .row .image img{
    width: 100%; 
}
.about .row .content{
    flex:1 1 45rem;
    padding: 2rem;
}
.about .row .content h3{
    font-size: 2.4rem;
    color: #fff;
    padding-bottom: 15px;
}
.about .row .content p{
    font-size: .8rem;
    color: #eee;
    padding: .5rem 0;
    line-height: 1.8;
}

.photo{
    height: 80px;
    width: 80px;
    /* background-color: red; */
    /* border: 1px solid black; */
    margin: 0 100px;
    border-radius: 50%;
    text-align: center;
}
.photo .img1{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
#photo1{
    background-image: url(https://images.unsplash.com/photo-1485808191679-5f86510681a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
}
#photo2{
    background-image: url(https://images.unsplash.com/photo-1512568400610-62da28bc8a13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
}
#photo3{
    background-image: url(https://images.unsplash.com/photo-1450024529642-858b23834369?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
}
#photo4{
    background-image: url(https://images.unsplash.com/photo-1462917882517-e150004895fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
}
#photo5{
    background-image: url(https://images.unsplash.com/photo-1514432324607-a09d9b4aefdd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
}
#photo6{
    background-image: url(https://images.unsplash.com/photo-1471922597728-92f81bfe2445?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OHwyMjkwMjM5fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 1rem;
}
.menu .box-container .box{
    padding: 3rem;
    text-align: center;
    border: .4px solid rgb(77, 77, 77);
}
/* .menu .box-container .box img{
    height: 10rem;
} */
.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}
.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
.menu .box-container .box:hover{
    background: #fff;
}
.menu .box-container .box:hover > *{
    color: black;
}
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 1rem;
}
.products .box-container .box{
    text-align: center;
    border: .4px solid rgb(77, 77, 77);
    padding: 2rem;
}
.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 1.3rem;
    border: .5px solid white;
    color: #fff;
    margin: .3rem;
    padding-top: 10px;
}
.products .box-container .box .icons a>i:hover{
    background: burlywood;
    color: #fff;
}
/* .products .box-container .box .icons a:hover > *{
    background: white;
} */
/* .products .box-container .box .image{
    padding: 2.5rem 0;
}
.products .box-container .box .image img{
    height: 25rem;
} */
.products .box-container .box .content h3{
    color: #fff;
    font-size: 2rem;
}
.products .box-container .box .content .stars{
    padding: 1.5rem;
}
.products .box-container .box .content .stars i{
    font-size: 1.3rem;
    color: burlywood;
}
.products .box-container .box .content .price{
    color: #fff;
    font-size: 1.6rem;
}
.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1rem;
}
.photo2{
    height: 180px;
    width: 120px;
    background-color: red;
    border: 1px solid black;
    margin: 0 80px;
    margin-bottom: 15px;
    text-align: center;
}
.photo2 .img2{
    height: 100%;
    width: 100%;
    /* border-radius: 50%; */
    background-position: center;
    background-size: cover;
}
#pack1{
    background-image: url(https://images.unsplash.com/photo-1584390687847-2b007779f437?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29mZmVlJTIwcGFja2FnZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
}
#pack2{
    background-image: url(https://images.unsplash.com/photo-1512372388054-a322888e67a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}
#pack3{
    background-image: url(https://images.unsplash.com/photo-1599639957043-f3aa5c986398?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=788&q=80);
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 1rem;
}
.review .box-container .box{
    text-align: center;
    border: .4px solid rgb(77, 77, 77);
    padding: 1rem 2rem;
}
.review .box-container .box p{
    font-size: .9rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}
.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: burlywood;
}
.contact .row{
    display: flex;
    align-items: center;
    background: black;
    /* flex-wrap: wrap; */
}
/* .contact .row{
    display: flex;
    background: black;
    flex-wrap: wrap;
    gap: 1rem;
} */
.contact .row .map{
    flex: 1 1 45rem;
    width: 50%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    margin-left: 130px;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: black;
    /* border: .5px solid #eee; */
    margin-left: 20px;
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 1.5rem;
    padding-left: 2rem;
    /* margin-left: 20px; */
}
.contact .row form .inputBox input{
    color: #fff;
    width: 80%;
    font-size: 1.7rem;
    /* padding: 2rem; */
    text-transform: none;
    background: none;
    margin-left: 20px;
}
.contact .row form>input{
    margin-left: 250px;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 1rem;
}
.blogs .box-container .box{
    border: .4px solid rgb(77, 77, 77);
}
.blogs .box-container .box .image{
    height: 16rem;
    overflow: hidden;
    width: 100%;
}
.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}
.blogs .box-container .box .content{
    padding: 1rem;
}
.blogs .box-container .box .content .title{
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
}
.blogs .box-container .box .content .title:hover{
    color: burlywood;
}
.blogs .box-container .box .content span{
    color: burlywood;
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}
.blogs .box-container .box .content p{
    font-size: 1rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

.footer{
    background: black;
    text-align: center;
}
.footer .share{
    padding: 1rem 0;

}
.footer .share a{
    /* height: 10rem;
    width: 10rem; */
    line-height: 5rem;
    font-size: 1.8rem;
    color: #fff;
    margin: .3rem;
    border: .4px solid rgb(77, 77, 77);
    border-radius: 50%;
    padding: .4rem .5rem;
}
.footer .share a i{
    margin-top: 50px;
}

.footer .share a:hover{
    background-color: burlywood;
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: .4px solid rgb(77, 77, 77);
    font-size: 1rem;
}
.footer .links a:hover{
    background-color: burlywood;
}
.footer .credit{
    font-size: 1rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credit span{
    color: burlywood;
}









































/* media queries */
@media (max-width:991px) {
    html{
        font-size: 55%;
        overflow: hidden;
    }
    .header{
        padding: 20px 10px;
    }
    .logo img{
        height: 84px;
        position: absolute;
        top: -5px;
        left: -4px;
    }
    .navbar a{
        padding: 10px 12px;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
    .about .row{
        /* display: flex; */
        flex-wrap: wrap;
    }
    .about .row .content p{
        font-size: 1.8rem;
    }
    .about .row .content h3{
        font-size: 3.5rem;
    }
    .photo{
        margin: 0 41px;
    }
    .contact .row form>input{
        /* margin: auto; */
        text-align: center;
    }
}
@media (max-width: 768px) {
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 7%;
        display: none;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 7rem);
    }
    .header .navbar.active{
        right: 0;
        display: block;
    }
    .header .navbar a{
        color: black;
        display: block;
        margin: 10px 15px;
        padding: 5px;
        font-size: 20px;
    }
    .header .cart-items-container{
        position: absolute;
        top: 7%;
        height: calc(100vh - 7rem);
    }
    .header .search-form{
        top: 7.3%;
        margin: 10px 20px;
    }
    .menu .box-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .photo{
        margin: auto;
        flex-wrap: wrap;
    }
    .photo2{
        margin: auto;
    }
    .contact .row{
        margin: auto;
        flex-wrap: wrap;
    }
    .contact .row .map{
        width: 100%;
    }
    .contact .row form{
        width: 100%;
        text-align: left;
        margin-right: 22px;
    }
    .contact .row form h3{
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }
    .contact .row form>input{
        margin-left: 30vw;
    }
}